<div class="container">
    <h1> Contact Us </h1>

    <div class="contact-form">
        <div class="txtb">
            <input type="text" maxlength="100" name="" value="" placeholder="Name">
        </div>

        <div class="txtb">
            <input type="text" maxlength="100" name="" value="" placeholder="Email">
        </div>

        <div class="txtb">
            <input type="text" maxlength="100" name="" value="" placeholder="Subject">
        </div>

        <div class="txtb">
            <input type="number" maxlength="12" name="" value="" placeholder="Phone Number">
        </div>

        <div class="txtb">
            <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
        </div>

        <a class="button">Submit</a>
    </div>
</div>