<div class="container">
    <div class="about"> 
        <h2>About Us</h2>
        <p>PT Agatra Kreasi Teknologi adalah perusahaan teknologi informasi
            yang bertujuan memberikan kejelasan dan transparansi dalam bisnis 
            melalui solusi teknologi yang inovatif.
            Sebagai perusahaan yang berdiri di Bandung pada bulan Desember 2020 ini 
            menyediakan layanan bagi semua tingkat instansi dan industri dalam pemanfaatan
            sistem teknologi informasi yang aman, andal dan terintegrasi.
            Sebagai perusahaan baru PT Agatra Kreasi Teknologi menjadi tempat berkumpulnya
            developer senior yang sudah berpengalaman di dunia teknologi informasi, pengalaman 
            mengembangkan aplikasi besar dari awal perencanaan dan analisis seperti Crew Management 
            (PT MRT Jakarta), Rail Cargo System (PT Kereta Api), Inaportnet 
            (Kementrian Perhubungan), Vehicle Type Approval (Kementrian Perhubungan), tidak hanya di 
            dalam negeri, tim developer pernah berkarya di negeri Malaysia untuk beberapa perusahaan 
            Telco dan Fintech.
        </p>
    </div>

    <div class="visi">
        <img src="assets/img/illustration1.svg" alt="Illustration Visi">
        <div class="content-visi">
            <h2>Visi</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Curabitur interdum elit in orci dapibus porta. Vivamus tempus felis sit amet mi placerat maximus. 
            Fusce tristique elementum dui, nec facilisis odio fermentum pulvinar. Suspendisse augue purus, 
            blandit id fermentum consectetur, facilisis non ipsum. Etiam aliquam orci id congue feugiat.
            </p>
        </div>
    </div>

    <div class="misi">
        <div class="content-misi">
            <h2>Misi</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum elit in orci dapibus porta. 
                Vivamus tempus felis sit amet mi placerat maximus. Fusce tristique elementum dui, nec facilisis odio 
                fermentum pulvinar. Suspendisse augue purus, blandit id fermentum consectetur, facilisis non ipsum. 
                Etiam aliquam orci id congue feugiat. Phasellus sit amet sem est. Donec tempor, turpis sed varius 
                pretium, mi nisi ornare nunc, ut tempus leo risus vitae lorem. Class aptent taciti sociosqu ad litora 
                torquent per conubia nostra, per inceptos himenaeos. Aenean a orci volutpat, elementum risus a, finibus 
                velit. Donec lobortis lorem quis velit molestie vestibulum vel sed nisi. Nullam ac volutpat justo. 
                Integer blandit mattis neque, ac euismod velit porta et. Praesent molestie scelerisque fringilla. 
                Vestibulum porta dictum lacus quis rutrum.
            </p>
        </div>
        <img src="assets/img/illustration2.svg" alt="Illustration Misi">
    </div>
</div>