<body>
    <footer>
        <ul>
            <li>
                <span>Agatra Kreasi Teknologi</span>
            </li>
            <li>
                <span>Social Media</span>
                <a class="icon-sosmed" href="#"><img src="assets/img/facebook.svg" alt="facebook"></a>
                <a class="icon-sosmed" href="#"><img src="assets/img/twitter.svg" alt="twitter"></a>
                <a class="icon-sosmed" href="#"><img src="assets/img/youtube.svg" alt="youtube"></a>
                <a class="icon-sosmed" href="https://www.linkedin.com/company/agatra-kreasi-teknologi/about/"><img src="assets/img/linkedin.svg" alt="linkedin"></a>
            </li>
            <li>
                <span>Contact Us</span>
                <p>
                    Phone: +62 816 6847 07 <br>
                    Fax: +62 816 6847 07 <br>
                    Email: admin@agatra.id
                </p>
            </li>
            <li>
                <span>Address</span>
                <p>
                Jalan Terusan Jakarta Nomor 175 A, <br>
                Kel. Antapani Kulon, Kec. Antapani, <br>
                Kota Bandung, Prov. Jawa Barat
                </p>
            </li>
        </ul>
    </footer>

    <div class="copyright">
            <p>Copyright © 2021 Powered by Agatra Creative</p>
    </div>
</body>